:root{
    --bg-color: #102937;
    --main-color: #124d54;
    --2nd-main-color: #f9744b;
    --text-color: #ededed;
    --p-font: 1rem;
    --h2-font: 1.9rem
    --big-font: 5rem;
}

body{
    background: var(--bg-color);
    cursor: var(--text-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: var(--bg-color);
    padding: 24px 14%;
    transition: .3s;
}

.logo{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}